.text-center{
    text-align: center;
}

.back-gr-gray{
    background-color: gray;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}